{% extends 'main.html' %}

    {% block title %} 
    Condecoraciones
    {% endblock %}
 <script src="js/jquery.min.js"></script>

{% block content %}
      <!-- page content -->
      <div class="right_col" role="main" style="background-image: url(/static/img/intro.jpg);background-repeat: no-repeat;">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>
              	  {% if u == "Manada Masculina" or u == "Manada Femenina" %}
                  <span class='label label-warning'>
                  {% elif u == "Clan Masculino" or u == "Clan Femenino" %}
                  <span class='label label-alert'>
                  {% else %}
                  <span class='label label-success'>
              	  {% endif %}
              	  Cuadro de Adelanto</span>
                    
                </h3>
            </div>
            <div class="title_right">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input style="color:white" id="myInput" type="search" onkeyup="return myFilter()" class="form-control" placeholder="Buscar joven...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Buscar</button>
                    </span>
                  </div>
                </div>
              </div>
          </div>
          <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
    	<div class="x_panel">
    	<div class="x_title">
            <h2><i class="fa fa-info"></i> Detalle de la prueba</h2>
            <div class="clearfix"></div>
        </div>
    	<div class="x-content">
    			<div class="tile-stats">
                          <h2 id="prueba">Prueba: </h2>
                          <h4 width="100px" id="descripcion">Descripciòn:</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-check-square-o"></i> Cuadro de Adelanto de {{u}}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul style="height: initial;" id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        
                        <li role="presentation" class="active"><a  href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Aventurero</a>
                        </li>
                        <li role="presentation" class=" "><a  href="#tab_content2" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Explorador</a>
                        </li>
                        <li role="presentation" class=" "><a  href="#tab_content3" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Pionero</a>
                        </li>
                        <li role="presentation" class=" "><a  href="#tab_content4" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Scout de Bolivar</a>
                        </li>
                        </li>
                      </ul>
                      </div>
                                     
	            <div id="myTabContent" class="tab-content">         
	            {%for adelanto,prueba,aprobados in pruebas %}  
	                  <div role="tabpanel" class="tab-pane fade {%if forloop.counter == 1%} active in {% endif %}" id="tab_content{{forloop.counter}}" aria-labelledby="home-tab">
							<div class="table-responsive">
								<table class="table-fill table table-striped jambo_table bulk_action">
								<thead>
								<tr class="headings"><th style="background-color: #5cb85c;border-color: #42ad48;" colspan={{prueba|length|add:2}}><h1>{{adelanto}}</h1></th></tr>
								<tr>
								<th style="width:20px;background-color: #5cb85c;border-color: #42ad48;" class="text-left">DNIS</th>
								<th style="background-color: #5cb85c;border-color: #42ad48;" class="text-left">Nombre</th>
								{% for p in prueba %}
									<th style="background-color: #5cb85c;border-color: #42ad48;" class="text-center" onclick="descripcion('{{p.id}}')" ><span id="pr{{p.id}}"> {{p.nombre}} <span id="de{{p.id}}" style="display:none">{{p.descripcion}}</span></span></th>
								{% endfor %}
								</thead>
								<tbody class="table-hover">
								{% for j,apro in aprobados %}
									<tr id="r-{{forloop.parentloop.counter}}-{{forloop.counter}}">
									<td class="text-center">{{j.id}}</td>
									<td id="{%if forloop.parentloop.counter == 1 %}n{{forloop.counter}}{% endif %}" style="text-transform: uppercase" class="text-left">{{j.primer_nombre}} {{j.primer_apellido}}</td>
									{% for a in apro %}
									<td class="text-center" style="text-transform: uppercase">
										<strong id="c{{forloop.counter}}">
											{% if a.2 %}
												<span onclick="cambiar({{a.0}},{{a.1}})"><i id="{{a.0}}-{{a.1}}" style="font-size:2em;color:green" class="fa fa-check" aria-hidden="true"></i></span>
											{% else %}
												<span onclick="cambiar({{a.0}},{{a.1}})"><i id="{{a.0}}-{{a.1}}" style="font-size:2em;opacity:0.5;color:gray" class="fa fa-check" aria-hidden="true"></i></span>
											{% endif %}
										</strong></td>
									{% endfor %}
								{% endfor %}
								</tbody>
								</table>
							</div>
						</div>
				{% endfor %}
					</div>
                  </div>
                </div>
              </div>
        </div>


      </div>
      <!-- /page content -->

  <!-- Datatables -->
  <script src="js/datatables/js/jquery.dataTables.js"></script>
  <script src="js/datatables/tools/js/dataTables.tableTools.js"></script>

  <!-- pace -->
  <script src="js/pace/pace.min.js"></script>

<script>
var $table = $('table.scroll'),
    $bodyCells = $table.find('tbody tr:first').children(),
    colWidth;

// Adjust the width of thead cells when window resizes
$(window).resize(function() {
    // Get the tbody columns width array
    colWidth = $bodyCells.map(function() {
        return $(this).width();
    }).get();
    
    // Set the width of thead columns
    $table.find('thead tr').children().each(function(i, v) {
        $(v).width(colWidth[i]);
    });    
}).resize(); // Trigger resize handler
</script>

<script>
function myFilter() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    for (i = 1; i <= parseInt('{{aprobados|length}}'); i++) {
        palabra = document.getElementById('n'+i);
        console.log(palabra.innerHTML);
        if (palabra.innerHTML.toUpperCase().indexOf(filter) > -1) {
            document.getElementById('r-1-'+i).style.display = "";
            document.getElementById('r-2-'+i).style.display = "";
            document.getElementById('r-3-'+i).style.display = "";
            document.getElementById('r-4-'+i).style.display = "";
            document.getElementById('r-5-'+i).style.display = "";
            document.getElementById('r-6-'+i).style.display = "";
        } else {
            document.getElementById('r-1-'+i).style.display = "none";
            document.getElementById('r-2-'+i).style.display = "none";
            document.getElementById('r-3-'+i).style.display = "none";
            document.getElementById('r-4-'+i).style.display = "none";
            document.getElementById('r-5-'+i).style.display = "none";
            document.getElementById('r-6-'+i).style.display = "none";

        }
    }
}
</script>
<script type="text/javascript">
function mostrar(input){
	for (i=0;i<parseInt("{{aprobados|length}}");i++){
		var p = document.getElementById('p'+i);
		p.style.display="none";
	}
	document.getElementById('p'+input).style.display="";
}

function descripcion(input){
	document.getElementById("prueba").innerHTML="Prueba: "+document.getElementById('pr'+input).innerHTML;
	document.getElementById("descripcion").innerHTML="Descripción: "+document.getElementById('de'+input).innerHTML;
}

function cambiar(dnis,p){
	$.ajax({data: {'dnis':dnis,'p':p},url: '/modificaradelanto',type:'get',success: function(data){
                if (data == 1){
                	pintar(dnis,p,true);
                }else if (data == -1){
                	pintar(dnis,p,false);
                }    
            },});
}

function pintar(dnis,p,e){
	if (e){
		document.getElementById(dnis+"-"+p).style.color="darkorange";
		document.getElementById(dnis+"-"+p).style.opacity="1";
	}else{
		document.getElementById(dnis+"-"+p).style.color="gray";
		document.getElementById(dnis+"-"+p).style.opacity="0.5";
	}
}
mostrar('0');
</script>

{% endblock %}
