<!-- Credits 
=============================================== -->
<section id="credits" class="text-center">
	<span class="social wow zoomIn">
	<a href="https://www.facebook.com/scouts.chacao/"><i class="fa fa-facebook"></i></a>
	<a href="https://twitter.com/scoutschacao?lang=es"><i class="fa fa-twitter"></i></a>
	<a href="https://www.instagram.com/scoutschacao/"><i class="fa fa-instagram"></i></a>
	</span><br/>
	<span style="color:white">Copyright &copy; <a href="#">SCOUTS CHACAO</a></span>
</section>