<header style="background-image:url('/static/img/cuerda.png');background-repeat: no-repeat;background-position: left center;opacity:20%" id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
<div class="container">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<!-- Your Logo -->
		<a href="#hero" class="navbar-brand">PROGRAMA DE JOVENES <span class="lighter">CHACAO</span></a>
	</div>
</div>
	<!-- Start Navigation -->
	<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	{%if user.is_authenticated %}
	<ul class="nav navbar-nav">
		<li>
		<a href="./">CUADROS DE METAS</a>
		</li>
		<li>
		<a href="#cip">CIP</a>
		</li>
		<li>
		<a href="#slider">CURSOS</a>
		</li>
		<li>
		<a href="#faq">ESPECIALIDADES</a>
		</li>
		<li>
		<a href="/logout">LOGOUT</a>
		</li>
	</ul>
	{%endif%}
	</nav>
</header>

