{% extends 'main.html' %}

    {% block title %} 
    Dashboard
    {% endblock %}

{% block content %}
      <!-- page content -->
      <div class="right_col" role="main">

        <br />
        <div class="">
        {% for t,p,g in tctype %}
          <div class="row top_tiles">

            <div id="csolicitude" class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <a href= "{% url 'group' pk2=t.id pk1=userdepartment.d_id %}" style="text-decoration:none">
                <div style ="height:100%" class="tile-stats">
                  <div class="icon"><i class="fa {{t.ty_icon}}"></i>
                  </div>
                  <span class="count"> {{p}}</span>
                  <br>
                  <h1 class ="label-{{t.ty_color}}" align ="center" style="color:white">{{t.ty_name}} </h1>
                  <p>
                  {% for e,d in g %} 
                    {{e}} - {{d}}<br>
                  {% endfor %}
                </div>
              </a>
            </div>
            <div id="esolicitude" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class ="tile-stats">
                  <p>Distribución de {{t.ty_name}}</p>
                        <div id="cake{{forloop.counter0|safe}}"></div>
                        <div class="clearfix"></div>
                </div>
            </div>
              
            <div class="col-lg-6 col-md- col-sm-3 col-xs-12">
                <div class ="tile-stats">
                  <p>Estado de {{t.ty_name}}</p>
                        <div id="bar{{forloop.counter0|safe}}"></div>
                        <div class="clearfix"></div>
                </div>
              </div>

            </div>
            {% endfor %}
              <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                  google.charts.load('current', {'packages':['corechart']});
                  google.charts.setOnLoadCallback(Bars);
                  google.charts.setOnLoadCallback(Cakes);
                  function Bars() {
                    var db = eval({{bars|safe}});
                    var sb = db.length;
                    var datab = new Array(sb);
                    var chartb = new Array(sb);
                    var ib = 0;
                    var optionsb = {'chartArea':{left:10,top:10,width:'90%',height:'80%'},
                                'colors': ['#1ABB9C','#22527B','#3B87C8','#2D6DA3','#337AB7','#4F93CE','#285F8F','#63A0D4'],
                                'fontSize':15,
                                'legend':{position:'none'},
                                };
                                
                    while (ib < sb){
                      datab[ib] = new google.visualization.DataTable();
                      datab[ib].addColumn('string', 'Tipo');
                      datab[ib].addColumn('number', 'Cantidad');
                      datab[ib].addRows(db[ib]);
                      chartb[ib] = new google.visualization.ColumnChart(document.getElementById('bar'+ib));
                      chartb[ib].draw(datab[ib], optionsb);
                      ib++;
                    }
                  }
                  function Cakes() {
                    var d = eval({{cakes|safe}});
                    var s = d.length;
                    var data = new Array(s);
                    var chart = new Array(s);
                    var i = 0;
                    var options = {'chartArea':{left:10,top:10,width:'90%',height:'90%'},
                                'colors': ['#262b33','#22527B','#3B87C8','#2D6DA3','#337AB7','#4F93CE','#285F8F','#63A0D4'],
                                'fontSize':15,
                                'legend':{position:'none'},
                                'pieHole':0.4,
                                'pieSliceTextStyle':{fontSize: 14},};
                    while (i <= s){
                      data[i] = new google.visualization.DataTable();
                      data[i].addColumn('string', 'Usuario');
                      data[i].addColumn('number', 'Cantidad');
                      data[i].addRows(d[i]);
                      chart[i] = new google.visualization.PieChart(document.getElementById('cake'+i));
                      chart[i].draw(data[i], options);
                      i++;
                    }
                  }
                  
                  
                </script>

<div class="row top_tiles">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    
  </div>
</div>

      </div>
      <!-- /page content -->

{% endblock %}