<!DOCTYPE html>
<html lang="en">
{% load staticfiles%}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Programa Chacao | 
    {% block title %} 
    {% endblock %}
  </title>

  <!-- Bootstrap core CSS -->

  <link href="{%static "css/bootstrap.min.css"%}" rel="stylesheet">
  <script src="{%static 'js/sorttable.js'%}"></script>
  <link href="{%static 'fonts/css/font-awesome.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/animate.min.css'%}" rel="stylesheet">
  <!-- Custom styling plus plugins -->
  <link href="{%static 'css/custom.css'%}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{%static 'css/maps/jquery-jvectormap-2.0.3.css'%}" />
  <link href="{%static 'css/icheck/flat/green.css'%}" rel="stylesheet">
  <link href="{%static 'css/floatexamples.css'%}" rel="stylesheet" />

 <!-- editor -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  <link href="css/editor/external/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="css/editor/index.css" rel="stylesheet">
  <!-- select2 -->
  <link href="css/select/select2.min.css" rel="stylesheet">
  <!-- switchery -->
  <link rel="stylesheet" href="css/switchery/switchery.min.css" />
  <script src="{%static "js/jquery.min.js"%}"></script>
 <!-- <script>
     var time = new Date().getTime();
     $(document.body).bind("mousemove keypress", function(e) {
         time = new Date().getTime();
     });

     function refresh() {
         if(new Date().getTime() - time >= 300000) 
             window.location.reload(true);
         else 
             setTimeout(refresh, 300000);
     }

     setTimeout(refresh, 300000);
  </script>-->


  <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>


<body class="nav-md">

  <div class="container body">


    <div class="main_container">

      <div class="col-md-3 left_col menu_fixed">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title"><span><img src="/static/img/Logo-blanco.png" width="70%"></span></a>
          </div>
          <div class="clearfix"></div>


          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="/static/img/iconos-usuario/{{fotoperfil}}.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Bienvenid@</span>
              <h2>{{user.first_name}} {{user.last_name}}<br>
              </h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
              <br><br><br><br><h3>  </h3>
              <ul class="nav side-menu">
                <li id="lca"><a><i class="fa fa-check-square-o"></i> Administrativos <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="/{{gru}}/adelantos"> Cuadro de Adelantos</a></li> 
                    <li><a href="/{{gru}}/metas"> Cuadro de Metas</a></li> 
                    <li><a href="/{{gru}}/condecoraciones"> Condecoraciones</a></li> 
                    <li><a href="/{{gru}}/cip"> CIP</a></li> 
                    <li><a href="/{{gru}}/cursos"> Cursos</a></li> 
                    <li><a href="/{{gru}}/programasmundiales"> Programas Mundiales</a></li>
                    <li><a href="/{{gru}}/especialidades"> Especialidades</a></li> 
                  </ul>
                </li>
                <li id="lca"><a><i class="fa fa-pie-chart"></i> Estadisticas <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="/{{gru}}/estadisticas-maximas"> Próximas Maximas Insignias</a></li>
                  </ul>
                </li>
                <li id="lca"><a><i class="fa fa-file"></i> Solicitudes <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="/{{gru}}/solicitaradelanto">Promover Adelanto</a></li>
                    <li><a href="/{{gru}}/desvinculaciones">Desvinculacion</a></li>
                  </ul>
                </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
<!-- <section id="credits" class="text-center">
  <span class="social wow zoomIn">
  <a href="https://www.facebook.com/scouts.chacao/"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/scoutschacao?lang=es"><i class="fa fa-twitter"></i></a>
  <a href="https://www.instagram.com/scoutschacao/"><i class="fa fa-instagram"></i></a>
  </span><br/>
  <span style="color:white"><i>Enciende la Llama Escultista</i></span><br>
  <span style="color:white">Copyright &copy; <a href="#">SCOUTS CHACAO</a></span>
</section> -->

          <div class="sidebar-footer hidden-small">
            <a href="https://www.facebook.com/scouts.chacao/" >
              <span class="fa fa-facebook"></span>
            </a>
            <a href="https://twitter.com/scoutschacao?lang=es" >
              <span class="fa fa-twitter"></span>
            </a>
            <a href="https://www.instagram.com/scoutschacao/" >
              <span class="fa fa-instagram"></span>
            </a>
            <a href="/logout">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">

        <div style="background-image: url('/static/img/cuerda.png');background-position-y: -30px;background-size: cover;" class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="/static/img/iconos-usuario/{{fotoperfil}}.png" alt="...">{{user.first_name}} {{user.last_name}}
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                  <li>
                    <a onclick="document.getElementById('modalcontra').style.display='block'"><i class="fa fa-lock pull-right"></i>Cambiar contraseña</a>
                  </li>
                  <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </li>
                </ul>
              </li>

              <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-bell-o"></i>
                  <span id="countnotifications" class="badge bg-green"></span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                  <script> var i = 0 </script>
                  {% for notification in notifications %}
                    <li id="li{{notification.t_id}}">
                      <a href="/">
                        <span class="image">
                                          <i class="fa fa-info-circle"></i>
                                      </span>
                        <span>
                                          <span class='label label-{{notification.t_ttype.ty_color}}'>Ticket {{notification}}</span>
                                         
                        <span class="time"> {{notification.life_spawn}}</span>
                        </span>
                        <span class="message">
                                          {{notification.t_title}}
                                      </span>
                      </a>
                    </li>
                    <script>
                      var user = "{{user.username}}"+",";
                      var viewers = "{{notification.t_viewers}}";
                      var viewed = viewers.search(user);
                      if (viewed == -1){
                        document.getElementById("li{{notification.t_id}}").style.background="aliceblue";
                        i +=1;
                      }else{
                        document.getElementById("li{{notification.t_id}}").style.fontStyle="italic";
                        document.getElementById("li{{notification.t_id}}").style.opacity=0.3;
                        
                      }
                    </script>

                  {% endfor %}
                  <script>  
                  if (i>0){
                    document.getElementById("countnotifications").innerHTML=i; 
                  }else{
                    document.getElementById("countnotifications").style.display="None";
                  } </script>              
                  <li>
                    <div class="text-center">
                      <a href = "/">
                        <strong>Ver todas las alertas</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>

            </ul>
          </nav>
        </div>

      </div>
      <!-- /top navigation -->

 <div id="modalcontra" class="modal fade bs-example-modal-sm in" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; padding-right: 15px;">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 style="color:rgb(49, 16, 80)" id="myModalLabel2">Cambio de contraseña</h4>
                        </div>
                        <div class="modal-body">
                          <h4 style="color:rgb(49, 16, 80)">{{request.user}}</h4>
                          <p>Nueva contraseña</p>
                          <input id="password" class="form-control col-md-7 col-xs-12" type="password">
                          <p>Repita la contraseña</p>
                          <input id="confirmar" class="form-control col-md-7 col-xs-12" type="password"> 
                        </div>
                        <div class="modal-footer">
                          <button onclick="document.getElementById('modalcontra').style.display='none'" type="button" class="btn btn-default" >Cancelar</button>
                          <button onclick="cambiar({{user.pk}})" type="button" class="btn btn-primary">Cambiar</button>
                        </div>

                      </div>
                    </div>
                  </div>
      <!-- page content -->
      {% block content %}
      {% endblock %}
      <!-- /page content -->
    </div>


  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>


<!-- Notificaciones flotantes -->
  <script type="text/javascript" src="{%static "js/notify/pnotify.core.js"%}"></script>
  <script type="text/javascript" src="{%static "js/notify/pnotify.buttons.js"%}"></script>
  <script type="text/javascript" src="{%static "js/notify/pnotify.nonblock.js"%}"></script>

{% for activity in activitiespop %}

<script type="text/javascript">
  var auser = "{{user.username}}"+",";
  var aviewers = "{{activity.at_viewers}}";
  var aviewed = aviewers.search(auser);
  if ((aviewed == -1) && ("{{activity.at_createdby}}"!="{{request.user}}")){
    new PNotify({
      title:"Ticket {{activity.at_ticket}}",
      text:"{{activity.at_tipe}} - {{activity.at_createdby.get_full_name}}<br><small>{{activity.at_description}}</small>",
      type:"info",
      hide:true})
  }
</script>

{% endfor %}

{% for slapop in slaspop %}

<script type="text/javascript">
  if (parseInt("{{slapop.delta_life}}")>=100){
    new PNotify({
      title:"<a style='color:white;' href='/'>Ticket {{slapop}}</a>",
      text:"El ticket ha caducado y no ha sido resuelto <br><small>{{slapop.life_spawn}}</small>",
      type:'dark',
      hide:false});
  }   
</script>

<script type="text/javascript">
  if ((parseInt("{{slapop.delta_life}}")>=75) && (parseInt("{{slapop.delta_life}}")<100)){
    new PNotify({
      title:"<a style='color:white;' href='/'>Ticket {{slapop}}</a>",
      text:"Alerta ticket próximo a caducar<br><small>{{slapop.life_spawn}}</small>",
      type:'error',
      hide:false});
  }   
</script>

<script type="text/javascript">
  if ((parseInt("{{slapop.delta_life}}")>=50) && (parseInt("{{slapop.delta_life}}")<75)){
    new PNotify({
      title:"<a style='color:white;' href='/'>Ticket {{slapop}}</a>",
      text:"Advertencia ticket próximo a caducar <br><small>{{slapop.life_spawn}}</small>",
      hide:false});
  }   
</script>

{% endfor %}
<!-- /Notificaciones flotantes -->


  <script src="{%static "js/bootstrap.min.js"%}"></script>
  <script src="{%static "js/nicescroll/jquery.nicescroll.min.js"%}"></script>

  <!-- bootstrap progress js -->
  <script src="{%static "js/progressbar/bootstrap-progressbar.min.js"%}"></script>
  <!-- icheck -->
  <script src="{%static "js/icheck/icheck.min.js"%}"></script>
  <!-- daterangepicker -->
  <script type="text/javascript" src="{%static "js/moment/moment.min.js"%}"></script>
  <script type="text/javascript" src="{%static "js/datepicker/daterangepicker.js"%}"></script>
  <!-- chart js -->
  <script src="{%static "js/chartjs/chart.min.js"%}"></script>
  <!-- sparkline -->
  <script src="{%static "js/sparkline/jquery.sparkline.min.js"%}"></script>

  <script src="{%static "js/custom.js"%}"></script>

  <!-- flot js -->
  <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
  <script type="text/javascript" src="{%static "js/flot/jquery.flot.js"%}"></script>
  <script type="text/javascript" src="{%static "js/flot/jquery.flot.pie.js"%}"></script>
  <script type="text/javascript" src="{%static "js/flot/jquery.flot.orderBars.js"%}"></script>
  <script type="text/javascript" src="{%static "js/flot/jquery.flot.time.min.js"%}"></script>
  <script type="text/javascript" src="{%static "js/flot/date.js"%}"></script>
  <script type="text/javascript" src="{%static "js/flot/jquery.flot.spline.js"%}"></script>
  <script type="text/javascript" src="{%static "js/flot/jquery.flot.stack.js"%}"></script>
  <script type="text/javascript" src="{%static "js/flot/curvedLines.js"%}"></script>
  <script type="text/javascript" src="{%static "js/flot/jquery.flot.resize.js"%}"></script>
  <!-- pace -->
  <script src="{%static "js/pace/pace.min.js"%}"></script>
  <!-- flot -->
  <script type="text/javascript">
    //define chart clolors ( you maybe add more colors if you want or flot will add it automatic )
    var chartColours = ['#96CA59', '#3F97EB', '#72c380', '#6f7a8a', '#f7cb38', '#5a8022', '#2c7282'];

    //generate random number for charts
    randNum = function() {
      return (Math.floor(Math.random() * (1 + 40 - 20))) + 20;
    }

    $(function() {
      var d1 = [];
      //var d2 = [];

      //here we generate data for chart
      for (var i = 0; i < 30; i++) {
        d1.push([new Date(Date.today().add(i).days()).getTime(), randNum() + i + i + 10]);
        //    d2.push([new Date(Date.today().add(i).days()).getTime(), randNum()]);
      }

      var chartMinDate = d1[0][0]; //first day
      var chartMaxDate = d1[20][0]; //last day

      var tickSize = [1, "day"];
      var tformat = "%d/%m/%y";

      //graph options
      var options = {
        grid: {
          show: true,
          aboveData: true,
          color: "#3f3f3f",
          labelMargin: 10,
          axisMargin: 0,
          borderWidth: 0,
          borderColor: null,
          minBorderMargin: 5,
          clickable: true,
          hoverable: true,
          autoHighlight: true,
          mouseActiveRadius: 100
        },
        series: {
          lines: {
            show: true,
            fill: true,
            lineWidth: 2,
            steps: false
          },
          points: {
            show: true,
            radius: 4.5,
            symbol: "circle",
            lineWidth: 3.0
          }
        },
        legend: {
          position: "ne",
          margin: [0, -25],
          noColumns: 0,
          labelBoxBorderColor: null,
          labelFormatter: function(label, series) {
            // just add some space to labes
            return label + '&nbsp;&nbsp;';
          },
          width: 40,
          height: 1
        },
        colors: chartColours,
        shadowSize: 0,
        tooltip: true, //activate tooltip
        tooltipOpts: {
          content: "%s: %y.0",
          xDateFormat: "%d/%m",
          shifts: {
            x: -30,
            y: -50
          },
          defaultTheme: false
        },
        yaxis: {
          min: 0
        },
        xaxis: {
          mode: "time",
          minTickSize: tickSize,
          timeformat: tformat,
          min: chartMinDate,
          max: chartMaxDate
        }
      };
      var plot = $.plot($("#placeholder33x"), [{
        label: "Email Sent",
        data: d1,
        lines: {
          fillColor: "rgba(150, 202, 89, 0.12)"
        }, //#96CA59 rgba(150, 202, 89, 0.42)
        points: {
          fillColor: "#fff"
        }
      }], options);
    });
  </script>
  <!-- /flot -->
  <!--  -->
  <script>
    $('document').ready(function() {
      $(".sparkline_one").sparkline([2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 5, 6, 4, 5, 6, 3, 5, 4, 5, 4, 5, 4, 3, 4, 5, 6, 7, 5, 4, 3, 5, 6], {
        type: 'bar',
        height: '125',
        barWidth: 13,
        colorMap: {
          '7': '#a1a1a1'
        },
        barSpacing: 2,
        barColor: '#26B99A'
      });

      $(".sparkline11").sparkline([2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 6, 2, 4, 3, 4, 5, 4, 5, 4, 3], {
        type: 'bar',
        height: '40',
        barWidth: 8,
        colorMap: {
          '7': '#a1a1a1'
        },
        barSpacing: 2,
        barColor: '#26B99A'
      });

      $(".sparkline22").sparkline([2, 4, 3, 4, 7, 5, 4, 3, 5, 6, 2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 6], {
        type: 'line',
        height: '40',
        width: '200',
        lineColor: '#26B99A',
        fillColor: '#ffffff',
        lineWidth: 3,
        spotColor: '#34495E',
        minSpotColor: '#34495E'
      });

      var doughnutData = [{
        value: 30,
        color: "#455C73"
      }, {
        value: 30,
        color: "#9B59B6"
      }, {
        value: 60,
        color: "#BDC3C7"
      }, {
        value: 100,
        color: "#26B99A"
      }, {
        value: 120,
        color: "#3498DB"
      }];

      Chart.defaults.global.legend = {
        enabled: false
      };

      var canvasDoughnut = new Chart(document.getElementById("canvas1i"), {
        type: 'doughnut',
        showTooltips: false,
        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        data: {
          labels: [
            "Symbian",
            "Blackberry",
            "Other",
            "Android",
            "IOS"
          ],
          datasets: [{
            data: [15, 20, 30, 10, 30],
            backgroundColor: [
              "#BDC3C7",
              "#9B59B6",
              "#455C73",
              "#26B99A",
              "#3498DB"
            ],
            hoverBackgroundColor: [
              "#CFD4D8",
              "#B370CF",
              "#34495E",
              "#36CAAB",
              "#49A9EA"
            ]

          }]
        }
      });

      var canvasDoughnut = new Chart(document.getElementById("canvas1i2"), {
        type: 'doughnut',
        showTooltips: false,
        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        data: {
          labels: [
            "Symbian",
            "Blackberry",
            "Other",
            "Android",
            "IOS"
          ],
          datasets: [{
            data: [15, 20, 30, 10, 30],
            backgroundColor: [
              "#BDC3C7",
              "#9B59B6",
              "#455C73",
              "#26B99A",
              "#3498DB"
            ],
            hoverBackgroundColor: [
              "#CFD4D8",
              "#B370CF",
              "#34495E",
              "#36CAAB",
              "#49A9EA"
            ]

          }]
        }
      });

      var canvasDoughnut = new Chart(document.getElementById("canvas1i3"), {
        type: 'doughnut',
        showTooltips: false,
        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        data: {
          labels: [
            "Symbian",
            "Blackberry",
            "Other",
            "Android",
            "IOS"
          ],
          datasets: [{
            data: [15, 20, 30, 10, 30],
            backgroundColor: [
              "#BDC3C7",
              "#9B59B6",
              "#455C73",
              "#26B99A",
              "#3498DB"
            ],
            hoverBackgroundColor: [
              "#CFD4D8",
              "#B370CF",
              "#34495E",
              "#36CAAB",
              "#49A9EA"
            ]

          }]
        }
      });
    });
  </script>
  <!-- -->
  <!-- datepicker -->
  <script type="text/javascript">
    $(document).ready(function() {

      var cb = function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
      }

      var optionSet1 = {
        startDate: moment().subtract(29, 'days'),
        endDate: moment(),
        minDate: '01/01/2012',
        maxDate: '12/31/2015',
        dateLimit: {
          days: 60
        },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'left',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'MM/DD/YYYY',
        separator: ' to ',
        locale: {
          applyLabel: 'Submit',
          cancelLabel: 'Clear',
          fromLabel: 'From',
          toLabel: 'To',
          customRangeLabel: 'Custom',
          daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
          monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
          firstDay: 1
        }
      };
      $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
      $('#reportrange').daterangepicker(optionSet1, cb);
      $('#reportrange').on('show.daterangepicker', function() {
        console.log("show event fired");
      });
      $('#reportrange').on('hide.daterangepicker', function() {
        console.log("hide event fired");
      });
      $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
        console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
      });
      $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
        console.log("cancel event fired");
      });
      $('#options1').click(function() {
        $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
      });
      $('#options2').click(function() {
        $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
      });
      $('#destroy').click(function() {
        $('#reportrange').data('daterangepicker').remove();
      });
    });
  </script>
  <!-- /datepicker -->

<script>
  var lista = ['lca','lce','lci','lco','lcu','lcm'];
  for (i=0; i<lista.length;i++){
    var ele = document.getElementById(lista[i]);
    if ('{{u}}' == 'Manada Masculina' || '{{u}}' == 'Manada Femenina'){
      ele.classList.add("manada");
    }else if ('{{u}}' == 'Clan Masculino' || '{{u}}' == 'Clan Femenino'){
      ele.classList.add("clan");
    }else{
      ele.classList.add("tropa");
    }
  }
function cambiar(user) {
      password = document.getElementById("password").value;
      ver = document.getElementById("confirmar").value;
      if (ver == password){
        $.ajax({data: {'user':user,'password':password},url: '/cambiarcontrasena',type:'get',success: function(data){
            if (data == 0){   
              alert("Fallo al realizar el cambio");  
            }else if (data == 1){
              document.getElementById("modalcontra").style.display="none";
              alert("Cambio de contraseña realizado");
            }else if (data==2){
             alert("Usted no esta autorizado para hacer este cambio");
            }
            },});
      }else{
         alert("Las contraseñas no son iguales");
      }  
  }
  </script>
</body>

</html>
